.body-alert{
	display:none;
	.alert-page{
		.main{
			position: absolute;
			background-color: #ffffff;
			width: 440px;
			border-radius:8px;
			padding: 15px;
			clear: both;
			overflow: hidden;
			opacity: 1;
			text-align: center;
			left: 50%;
			margin-left: -220px;
			top: 50%;
			margin-top:-159px;
			h3{
				font-size: 22px;
				color: #3A3A3A;
				margin-top: 30px;
			}
			p{
				font-size: 18px;
				color: #3A3A3A;
				margin-top: 12px;
			}
			button{
				width: 128px;
				line-height: 42px;
				height: 42px;
				border-radius: 4px;
				font-size: 18px;
				color: #ffffff;
				margin-top: 40px;
				margin-bottom: 25px;
				&.btn-yellow{
					background-color: #EFB23C;
				}
				&.btn-blue{
					background-color: #53A4F5;
				}
				&.btn-red{
					background-color: #EB4861;
				}
			}
		}
	}
}
