.icon-book{
   @include bg(28px,30px,'icon-book');
}
.icon-close{
   @include bg(16px,16px,'icon-close');
}
.icon-arrow-left{
   @include bg(8px,12px,'icon-arrow-left');
}
.icon-arrow-right{
   @include bg(6px,10px,'icon-arrow-right');
}
.icon-arrow-down{
   @include bg(12px,6px,'icon-arrow-down');
}
.icon-date{
   @include bg(14px,12px,'icon-date');
}
.icon-more{
   @include bg(24px,12px,'icon-more');
}
.icon-edit{
   @include bg(16px,16px,'icon-edit');
}
.icon-delete{
   @include bg(16px,16px,'icon-delete');
}
.icon-stop{
   @include bg(16px,16px,'icon-stop');
}
.icon-move-down{
   @include bg(16px,16px,'icon-move-down');
}
.icon-look{
   @include bg(16px,16px,'icon-look');
}
.icon-job{
   @include bg(16px,16px,'icon-job');
}
.icon-upload{
   @include bg(16px,16px,'icon-upload');
}
.icon-uncheck{
   @include bg(16px,16px,'icon-uncheck');
}
.icon-checked{
   @include bg(16px,16px,'icon-checked');
}
.icon-search{
   @include bg(14px,14px,'icon-search');
}
.icon-avatar{
   @include bg(80px,80px,'icon-avatar');
}




