.searchbar{
	.search-input-wrap{
		height: 40px;
	}
	.icon-arrow-right{
		cursor: pointer;
		display: none;
		margin-right: 20px;
		width: 16px;
		height: 16px;
	}
	.searchbar-title{
		font-size: 22px;
		color: #333333;
	}
	.input-list{
		display: inline-block;
		vertical-align: middle;
		margin-top: 24px;
	}
	.item{
		float: left;
		margin-right: 55px;
	}
	.select-list{
		display: none;
		position: absolute;
		left: 0;
		top: 38px;
		z-index: 10;
		width: 100%;
		background-color: #fff;
		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;
		li{
			padding : 10px;
			font-size: 14px;
			color: #333333;
			border-bottom: 1px solid $border-color;
			&:hover{
				background-color: #f1f1f1;
			}
		}
	}
	.label-name{
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		color: #333333;
		margin-right: 10px;
		min-width: 70px;

	}
	.input-wrap{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 200px;
		height: 38px;
		border : 1px solid $border-color;
		border-radius: 4px;
		background-color: #fff;
	}
	.search-input{
		width: 100%;
		height: 100%;
		text-indent: 4px;
		float : left;
	}
	.select-input{
		width: 160px;
		height: 100%;
		text-indent: 4px;
		float : left;
		font-size: 14px;
		line-height: 38px;
	}
	.icon-wrap{
		float : right;
		width: 38px;
		height: 38px;
		text-align: center;
		line-height: 38px;
		border-left : 1px solid $border-color;
		cursor: pointer;
		i{
			vertical-align: middle;
		}
	}
	.btn-group-right{
		float: right;
	}
	.btn-reset,.btn-search{
		display: inline-block;
		vertical-align: middle;
		width: 100px;
		height: 38px;
		border: 1px solid #53A4F5;
		border-radius: 4px;
		text-align: center;
		line-height: 38px;
		cursor: pointer;
	}
	.btn-reset{
		color : $primary;
	}
	.btn-search{
		background-color: $primary;
		color: #fff;
		margin-left: 10px;
	}
	.datepicker{
		position: static !important;
		height: 100%;
		display: block !important;
	}

	.search-btn{
		float: right;
		background-color: $primary;
		color: #fff;
		font-size: 16px;
		padding : 14px 30px;
		cursor: pointer;
		border-radius: 5px;
	}
	.search-area{
		width: 80%;
		float: left;
		background: #fff;
		border-radius: 5px;
		border:1px solid $border-color;
		height: 48px;
		line-height: 48px;
		text-indent: 10px;

	}

}


