.detail-page{
	padding: 80px 40px 40px 40px;
	.content{
		background: #ffffff;
		margin-top: 30px;
		border: 1px solid #DEDEDE;
		text-align: center;
		.title{
			display: block;
			margin: 0 172px;
			border-bottom: 1px solid #E1E1E1;
			font-size: 32px;
			color: #262626 ;
			font-weight: normal;
			padding: 40px 0px 20px 0px;
		}
		.time{
			font-size: 12px;
			color: #666666;
			padding:10px;
		}
		.img{
			padding: 10px;
			margin: 30px;
			img{
				max-width: 100%;
				height: 265px;
			}
		}
		.msg{
			padding: 0 111px 20px 111px;
			margin: 0 auto;
			p{
				text-indent: 2rem;
				color: #262626;
				font-size: 18px;
				line-height: 34px;
				text-align: left;
			}
		}
	}
}