@mixin bg($w, $h, $img_url) {
    display: inline-block;
    width: $w;
    height: $h;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/"+$img_url+".png") !important;
    background-position: center;
    background-color: transparent;
}