@charset "utf-8";

/*公共样式设置*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
a:hover,a:focus{text-decoration: none;}
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea,button { border:0; }
textarea { resize:none; overflow:auto; }
body { font-size:20px; font-family:"微软雅黑"; }
button:focus{ outline: none; }
button:hover{ cursor: pointer; }
select:focus{outline: none;}


*,html *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Microsoft Yahei";
	margin: 0;
	padding: 0;
}